# The ID of your GitHub App
APP_ID=
PRIVATE_KEY=
WEBHOOK_SECRET=development
KEY=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

LANGUAGE_API_ENDPOINT=
APPLICATIONINSIGHTS_CONNECTION_STRING=
DATABASE_CONNECTION_STRING=